{% extends "base/base.html.twig" %}

{% import "common/macros/buttons.html.twig" as buttons %}

{% block hero_text %}UDL - Gratis mattevideoer og leksehjelp{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row col-xxl-6 offset-xxl-3">
            {% for chunk in disciplines %}
                <div class="col-lg-4 card">
                {% for discipline in chunk %}
                    {% set route = path('discipline', { slug: discipline.url_slug}) %}
                    <a href="{{ route }}" aria-label="Gå til {{ discipline.name }}">
                        <h5 class="card-header">{{ discipline.name }}</h5>
                    </a>
                {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/home.css') }}" rel="stylesheet"/>
{% endblock %}
