<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}UDL - Mattevideoer, helt gratis!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet"/>
            <link href="{{ asset('css/common/common.css') }}" rel="stylesheet"/>
        {% endblock %}
    </head>
    <body>
        <main role="main">
            <div class="jumbotron-fluid container-fluid page-header">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-3 logo-container">
                        <a href="{{ path('home') }}">
                            <img class="udl-logo" src="{{ asset('img/udl_logo.png') }}" alt="UDL.no" width="100%"/>
                        </a>
                    </div>

                    <div class="col-12 col-sm-6 col-md-6">
                        <h1 class="hero-text display-4">{% block hero_text %}{% endblock %}</h1>
                    </div>
                </div>
            </div>

            {% block content %}{% endblock %}
        </main>

        <footer class="text-muted card">
            <div class="container">
                <h4>
                    Besøk UDL på:
                    <a href="https://www.facebook.com/UDLno">
                        <img src="{{ asset('img/facebook.png') }}" alt="UDL.no på Facebook"/>
                    </a>

                    <a href="https://www.twitter.com/UDLno">
                        <img src="{{ asset('img/twitter.png') }}" alt="UDL.no på Twitter"/>
                    </a>
                </h4>
            </div>
        </footer>

        {% block javascripts %}
        {% endblock %}
    </body>
</html>
