<!DOCTYPE html>
<html lang="no">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description"
              content="{% block meta_description %}Gratis matematikk-undervisning med videoer | UDL.no{% endblock %}">
        <meta property="og:image"
              content="{% block og_image %}{{ asset('img/udl_logo.png') }}{% endblock %}">

        <meta name="robots" content="{% block meta_robots %}index, follow{% endblock %}">

        <title>{% block title %}UDL - Mattevideoer, helt gratis!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet"/>
            <link href="{{ asset('css/common/common.css') }}" rel="stylesheet"/>
            <link rel="stylesheet"
                  href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
                  integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
                  crossorigin="anonymous">
        {% endblock %}
        {% block javascripts %}
            <script>
                MathJax = {
                    tex: {
                        inlineMath: [['$', '$'], ['\\(', '\\)']]
                    },
                    svg: {
                        fontCache: 'global'
                    }
                };
            </script>
            <script type="text/javascript" id="MathJax-script" async
                    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
            </script>
        {% endblock %}
    </head>
    <body>
        <main role="main">
            <div class="jumbotron-fluid container-fluid page-header">
                <div class="row">
                    <div class="col-12 col-md-3 logo-container">
                        <a href="{{ path('home') }}" aria-label="Gå tilbake til hovedsiden.">
                            <img class="udl-logo" src="{{ asset('img/udl_logo.png') }}" alt="UDL.no"/>
                        </a>
                    </div>

                    <div class="col-12 col-md-6 hero-text-container">
                        <h1 class="hero-text display-5">{% block hero_text %}{% endblock %}</h1>
                        <p class="description">{% block subtext %}{% endblock %}</p>
                        <a href="{% block back_url %}{% endblock %}" aria-label="{% block back_label %}Tilbake{% endblock %}">
                            <h5 class="navigation">
                                {% block back_title %}{% endblock %}
                            </h5>
                        </a>
                    </div>
                </div>
            </div>

            {% block content %}{% endblock %}
        </main>

        <footer class="text-muted card">
            <div class="container-fluid row">
                <div class="col-12 col-sm-4 footer-element">
                    <h4>Besøk UDL på:</h4>
                    <a href="https://www.facebook.com/UDLno" aria-label="UDL.no på Facebook">
                        <img src="{{ asset('img/facebook.png') }}" alt="UDL.no på Facebook"/>
                    </a>

                    <a href="https://www.twitter.com/UDLno" aria-label="UDL.no på Twitter">
                        <img src="{{ asset('img/twitter.png') }}" alt="UDL.no på Twitter"/>
                    </a>
                </div>

                <div class="col-12 col-sm-4 footer-element">
                    <h4>En donasjon?</h4>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick" />
                        <input type="hidden" name="hosted_button_id" value="W42AQWSEUNMHG" />
                        <input type="image" src="https://www.paypalobjects.com/no_NO/NO/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Doner med PayPal-knappen" />
                    </form>

                    <p>En liten donasjon hjelper mye!</p>
                </div>

                <div class="col-12 col-sm-4 footer-element">
                    <h4>Artikler</h4>
                    <p>
                        <a href="{{ path('articles') }}"
                           aria-label="Artikler om matematiske emner">Klikk her</a>
                        for å se en liste over artikler skrevet om matematiske emner, hvis du ønsker å lese
                        i tillegg til (eller i stedet for) å se videoer.
                    </p>
                </div>
            </div>
        </footer>
    </body>
</html>
