{% extends "base/base.html.twig" %}

{% block title %}{{ playlist.name }} | UDL.no{% endblock %}
{% block hero_text %}{{ playlist.name }}{% endblock %}
{% block subtext %}{{ playlist.description | nl2br }}{% endblock %}
{% block back_url %}{{ path('discipline', { slug: discipline.url_slug }) }}{% endblock %}
{% block back_title %}<span class="fas fa-arrow-left"></span> Tilbake til {{ discipline.name }}{% endblock %}

{% block content %}
    <div class="row">
        {% for chunk in videos %}
            <div class="col-lg-4 card">
                {% for video in chunk %}
                    <a href="{{ path('video', {
                        video_slug: video.url_slug,
                        playlist_slug: playlist.url_slug,
                        discipline_slug: discipline.url_slug
                    }) }}">
                        <h5 class="card-header">{{ video.name }}</h5>
                    </a>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
