{% extends "base/base.html.twig" %}

{% block hero_text %}{{ video.name }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2 card" style="padding-top: 20px;">
            <div class="card-body">
                <div style="text-align: center; padding-bottom: 20px;">
                    <p class="card-text">{{ video.description | nl2br }}</p>
                </div>
                <div class="video">
                    <iframe src="https://www.youtube.com/embed/{{ youtube_video_url }}"
                            class="video-frame"
                            allowfullscreen>
                    </iframe>
                </div>
                <div class="row prev-next-video">
                    <div class="col-12 col-sm-6">
                        {% if previous_video is not null %}
                            <a href="{{ path('video', {
                                discipline_slug: discipline_slug,
                                playlist_slug: playlist_slug,
                                video_slug: previous_video.getUrlSlug
                            }) }}">
                                <span class="fas fa-arrow-left"></span>
                                {{ previous_video.name }}
                            </a>
                        {% endif %}
                    </div>

                    <div class="col-12 col-sm-6">
                        {% if next_video is not null %}
                            <a href="{{ path('video', {
                                discipline_slug: discipline_slug,
                                playlist_slug: playlist_slug,
                                video_slug: next_video.getUrlSlug
                            }) }}">
                                {{ next_video.name }}
                                <span class="fas fa-arrow-right"></span>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/video/video.css') }}" rel="stylesheet"/>
{% endblock %}
