{% extends "base/base.html.twig" %}

{% block hero_text %}{{ video.name }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 col-lg-6 offset-lg-3 card" style="padding-top: 20px;">
            <div class="card-body">
                <div class="video">
                    <iframe
                            src="https://www.youtube.com/embed/{{ youtube_video_url }}"
                            class="video-frame"
                            allowfullscreen>
                    </iframe>
                </div>

                <div style="text-align: center; padding-top: 20px;">
                    <h5 class="card-title">{{ video.name }}</h5>
                    <p class="card-text">{{ video.description | nl2br }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/video/video.css') }}" rel="stylesheet"/>
{% endblock %}
