{% extends "base/base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/article/article.css') }}" rel="stylesheet"/>
{% endblock %}

{% block title %}Artikler | UDL.no{% endblock %}
{% block hero_text %}Matematiske artikler, UDL.no{% endblock %}
{% block subtext %}En samling av matematiske artikler skrevet av UDL.{% endblock %}
{% block back_url %}{{ path('home') }}{% endblock %}
{% block back_title %}Tilbake til forsiden{% endblock %}
{% block back_label %}Tilbake til forsiden{% endblock %}
{% block meta_description %}En samling av matematiske artikler skrevet av UDL{% endblock %}

{% block content %}
    <div class="row offset-xl-1 col-xl-10 d-flex justify-content-center">
        {% for discipline in disciplines %}
            <div class="row col-12 d-flex justify-content-center article-discipline">
                <div class="row col-12 d-flex justify-content-center">
                    <h3>{{ discipline.name }}</h3>
                </div>
                <div class="row col-lg-12 justify-content-center">
                    {% for article in discipline.articles %}
                        <div class="col-lg-4 justify-content-center">
                            <a href="{{ path('article',
                                {
                                    'discipline_slug': discipline.url_slug,
                                    'topic': article.template
                                }
                            ) }}">
                                <h5 class="card-header">{{ article.name }}</h5>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
